/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/cutandrun Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

/*
*** Flow switching and result output ***
There are three keywords for controling program flow and results output:
    - save_* - Specifies whether to save information to output
    - skip_* - Specifies whether to skip a process of group of processes
    - only_* - Only run the pipeline up to this point
*/

singularity {
    enabled = true
    autoMounts = true
    // runOptions = '-B /home/leizheng/scratch/pipeline/cutandrun/singularity'
    runOptions = '-B /project/mengjiechen/leizheng/tmp:/tmp'
}

env {
  TMPDIR='/project/mengjiechen/leizheng/tmp'
}

executor {
    name = 'slurm'
    cpus = 30
    memory = 3000
    perCpuMemAllocation = true 
    queueSize = 20         // 设置队列大小
}

process {
    errorStrategy = 'retry'
    maxRetries = 6
    // scratch = true
    executor = 'slurm'
    
    
    // set default SLURM params

    clusterOptions = '''
#SBATCH --account=pi-chuanhe
#SBATCH --job-name=predict
#SBATCH --output=predict.out
#SBATCH --error=predict.err
#SBATCH --time=35:00:00
#SBATCH --partition=caslake
#SBATCH --nodes=1
#SBATCH --mail-type=ALL
#SBATCH --mail-user=leizheng@uchicago.edu
    '''
}   

// Global default params, used in configs
params {
    // References
    transcriptome_fa           = "/project/mengjiechen/leizheng/pipeline/predict_rna_structure/test/test.fa"
    split_num                  = 1

    bin                        = "${projectDir}/bin"
    // Max resource options
    max_memory                 = "128.GB"
    max_cpus                   = 16
    max_time                   = "240.h"

    RNAfold                    = "/scratch/midway3/leizheng/mambaforge/envs/rna_structure/bin/RNAfold"
    RNAplot                    = "/scratch/midway3/leizheng/mambaforge/envs/rna_structure/bin/RNAplot"
    RNAfold_b2mt               = "/scratch/midway3/leizheng/mambaforge/envs/rna_structure/share/ViennaRNA/bin/b2mt.pl"
    bprna                      = "/home/leizheng/data/workspace/rbrowser/rna_structure/rna_structure_db/bpRNA/bpRNA.pl"
    perl                       = "/scratch/midway3/leizheng/mambaforge/bin/perl"
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }

}
// a maximum limit
def check_max(obj, type) {
    if (type == "memory") {
        try {
        if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
            return params.max_memory as nextflow.util.MemoryUnit
        else
            return obj
        } catch (all) {
        println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
        return obj
        }
    } else if (type == "time") {
        try {
        if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
            return params.max_time as nextflow.util.Duration
        else
            return obj
        } catch (all) {
        println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
        return obj
        }
    } else if (type == "cpus") {
        try {
        return Math.min( obj, params.max_cpus as int )
        } catch (all) {
        println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
        return obj
        }
    }
}
